
<!DOCTYPE html>
<html lang="en">
   <head>
      <style>
         body {
         font-family: 'Poppins', sans-serif;
         background-image: linear-gradient(to right, rgb(165, 180, 252), rgb(192, 132, 252));
         }
      </style>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet" />
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet" />
      <script src="https://cdn.tailwindcss.com"></script>
      <title>Phonebook</title>
   </head>
   <body>
      <div class="flex items-center justify-between">
         <div class="contact-form my-10 mx-7 w-full max-w-lg">
            <form method="post" target="_self" class="mb-4 rounded-md bg-white px-8 pt-6 pb-8 shadow-2xl shadow-gray-800">
               <div class="flex justify-center">
                  <i class="ri-contacts-book-2-line text-4xl"></i>
               </div>
               <h2 class="mt-2 mb-9 text-center text-2xl">who do you want to delete</h2>
               <div class="my-8">
                  <label class="mb-2 block text-sm font-bold text-gray-700" for="firstname">First Name</label>
                  <input class="focus:shadow-outline w-full appearance-none rounded border border-gray-400 py-2 px-3 text-gray-700 shadow focus:outline-none" type="text" name="firstname" placeholder="First Name" />
               </div>
               <div class="my-8">
                  <label class="mb-2 block text-sm font-bold text-gray-700" for="familyname">Family Name</label>
                  <input class="focus:shadow-outline w-full appearance-none rounded border border-gray-400 py-2 px-3 text-gray-700 shadow focus:outline-none" type="text" name="familyname" placeholder="Family Name" />
               </div>
               <div class="my-8">
                  <label class="mb-2 block text-sm font-bold text-gray-700" for="telnummer">Tel Nummer</label>
                  <input class="focus:shadow-outline w-full appearance-none rounded border border-gray-400 py-2 px-3 text-gray-700 shadow focus:outline-none" type="text" name="telnummer" placeholder="telnummer" />
               </div>
               <div class="flex items-center justify-center">
                  <input class="focus:shadow-outline rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-700 focus:outline-none" type="submit" value="submit" />
               </div>
            </form>
            <div class="mt-14 w-full max-w-lg">
            </div>
         </div>
         <div class="px-10 my-7 mr-12 h-2/4 w-2/5 rounded bg-white bg-opacity-50 text-center drop-shadow-2xl backdrop-blur-lg">
            <span class="flex items-center justify-center">
               <i class="ri-phone-line text-2xl"></i>
               <h2 class="mx-2 my-4 text-3xl font-medium">Contacts</h2>
            </span>
            {%for values in value %}
            <div class="my-6  flex justify-between space-x-7 text-xl">
               <p>{{ values["vorname"] }}</p>
               <p class="font-medium">{{ values["nachname"] }}</p>
               <p class="font-medium text-green-500">{{ values["telnummer"] }}</p>
            </div>
            {% endfor %}
         </div>
      </div>
   </body>
</html>
