<html lang="en">
   <head>
      <style>
         body {
         font-family: 'Poppins', sans-serif;
         }
      </style>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
      <script src="https://cdn.tailwindcss.com"></script>
      <title>Phonebook</title>
   </head>
   <body>
      <div class="w-full max-w-md contact-form">
         <form  method = "post" target="_self" class="bg-white shadow-md rounded-md px-8 pt-6 pb-8 mb-4">
            <h2 class="text-center text-2xl mb-9">Enter a new contact</h2>
            <div class="my-8">
               <label class="block text-gray-700 text-sm font-bold mb-2" for="firstname">First Name</label>
               <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline" type = "text" name = "firstname" placeholder="First Name" />
            </div>
            <div class="my-8">
               <label class="block text-gray-700 text-sm font-bold mb-2" for="familyname">Family Name</label>
               <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline" type = "text" name = "familyname" placeholder="Family Name" />
            </div>
            <div class="my-8">
               <label class="block text-gray-700 text-sm font-bold mb-2" for="telnummer">Tel Nummer</label>
               <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline" type = "text" name = "telnummer" placeholder="telnummer" />
            </div>
            <div>
               <input class="bg-blue-500 hover:bg-blue-700 text-white px-4 py-2 rounded focus:outline-none focus:shadow-outline" type = "submit" value = "submit" />
            </div>
         </form>
      </div>
      <p></p>
      <a href="http://20.91.193.124">Delete a contact</a>delete request still not ready</p>
      <h3>Motivation speech</h3>
      <p>"what you can do today better do it tomorrow" </br>	@Raylin 05.08.02 - jetzt</p>
      <h2>Contact</h2>
      {%for values in value %}
      <div>
         <p>{{ values["vorname"] }}
            {{ values["nachname"] }}
            {{ values["telnummer"] }}
         </p>
      </div>
      {% endfor %}
      <h3>Motivation speech</h3>
      <p>"in some webpages i just got an terminal" </br> 	@SAM 30.09.2022 12:05</p>
   </body>
</html>
